body {
    display: flex;
    justify-content: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: larger;
}
h1 {
    bottom: 20px;
    left: 10px;
    position: relative;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
    border-radius: 2%;
    box-shadow: 5px 5px 15px black;
    width: 650px;
    height: 650px;
    background-color: cornsilk;
}
.tarjeta-front {
    display: flex;
    flex-direction: column;
    border: solid 2px black;
    border-radius: 5%;
    box-shadow: 5px 5px 14px black;
    width: 250px;
    height: 150px;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}
.num-tar {
    position: relative;
    bottom: 70px;
    left: 25px;
    font-family: "Courier New", Courier, monospace;
    font-size: large;
    font-weight: bold;
}
.tarjeta {
    display: flex;
    flex-direction: column;
    border: solid 2px black;
    border-radius: 5%;
    box-shadow: 5px 5px 14px black;
    width: 250px;
    height: 150px;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}
.chip {
    position: relative;
    left: 5px;
    bottom: 45px;
    width: 65px;
}
.banda {
    display: flex;
    border: 3px solid black;
    height: 30px;
    width: 240px;
    background-color: black;
    margin-top: 30px;
    margin-left: 2px;
}
.cod {
    position: relative;
    left: 200px;
    font-family: "Courier New", Courier, monospace;
    font-size: large;
    font-weight: bold;
}
.datos {
    display: flex;
    flex-direction: column;
}
.lbl {
    text-align: center;
}
.btn {
   width: 100px;
   height: 50px;
}
